.block-slider {
	padding-bottom: 140px;
	margin: 0;
	@media screen and (max-width: 768px) {
		padding-bottom: 80px;
	}

	& > h2 {
		font-size: 40px;
		font-weight: 600;
		line-height: 110%;
		margin-bottom: -50px;
		@media screen and (max-width: 768px) {
			margin-bottom: 35px;
			font-size: 30px;
			text-align: center;
		}
	}

	& > .btn.btn-outline-primary {
		display: none;
		@media screen and (max-width: 768px) {
			display: block;
		}
	}

	& .swiper.mySwiper {
		@media screen and (max-width: 768px) {
			margin-bottom: 35px;
		}
	}

	& .mySwiper .swiper-button-prev,
	& .mySwiper .swiper-button-next {
		top: 25px;
		width: 47px;
		height: 47px;
		border: 1px solid #199FDA;
		border-radius: 50%;
		background-color: #199FDA;

		&:after {
			--swiper-navigation-size: 1rem;
			color: #fff;
		}

		@media screen and (max-width: 768px) {
			display: none;
		}

		&.swiper-button-disabled {
			border-color: #B9B9BA;
			background-color: transparent;

			&:after {
				--swiper-navigation-size: 1rem;
				color: #B9B9BA;
			}
		}
	}

	& .mySwiper .swiper-button-next {
		right: 0;
	}

	& .mySwiper .swiper-button-prev {
		right: 64px;
		left: auto;
	}
}

.mySwiper {
	&.swiper {
		overflow-y: visible;
		padding-top: 94px;
		@media screen and (max-width: 768px) {
			padding-top: 0;
			overflow-y: hidden;
		}
	}

	& .swiper-wrapper {
		align-items: stretch;
		@media screen and (max-width: 768px) {
			grid-gap: 15px;
			flex-wrap: wrap;
		}

		& .swiper-slide {
			@media screen and (max-width: 768px) {
				height: auto;
			}
		}

		& .card:nth-child(n + 5) {
			@media screen and (max-width: 768px) {
				display: none;
			}
		}

		&.active .card:nth-child(n + 5) {
			@media screen and (max-width: 768px) {
				display: block;
			}
		}
	}
}

.card {
	border: none;
	border-radius: 8px;
	background: #F7F7F7;
	@media screen and (max-width: 768px) {
		flex: 0 1 calc(50% - 7.5px);
	}

	&-wrapper {
		padding: 26px 7px 30px;
		margin-bottom: 0;
		@media screen and (max-width: 768px) {
			padding: 12px 7px;
		}
	}

	& img {
		width: 100%;
		height: 160px;
		max-height: 160px;
		object-fit: contain;
		@media screen and (max-width: 768px) {
			height: 120px;
		}
	}

	&-info {
		padding-top: 24px;

		& > * {
			text-align: center;
		}

		& > h2 {
			font-size: 16px;
			font-weight: 600;
			line-height: normal;
			margin-bottom: 10px;
			@media screen and (max-width: 768px) {
				font-size: 12px;
			}

			& a {
				color: inherit;
				text-decoration: none;
			}
		}

		& > h3 {
			font-size: 12px;
			font-weight: 400;
			line-height: normal;
			opacity: 0.7;
			margin-bottom: 5px;
			@media screen and (max-width: 768px) {
				font-size: 10px;
			}
		}

		& > p {
			font-size: 25px;
			font-weight: 600;
			line-height: normal;
			margin-bottom: 0;
			@media screen and (max-width: 768px) {
				font-size: 22px;
			}
		}
	}
}