.header {
	&-bg {
		padding: 9px 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		@media screen and (max-width: 991px) {
			background-color: #F9FBFD;
		}
	}
	&-container {

	}
	&-logo {
		&-mob {
			display: none;
			@media screen and (max-width: 991px) {
				display: block;
			}
			& img {
				width: 50px;
				height: auto;
			}
		}
	}
	&-tel-mob {
		display: none;
		@media screen and (max-width: 991px) {
			display: block;
		}
	}
	&-wrapper {
		justify-content: space-between;
		& .header-logo {
			@media screen and (max-width: 991px) {
				display: none;
			}
		}
	}
	&-list {
		&-item {
			& > a {
				font-size: 14px;
				font-style: normal;
				font-weight: 800;
				line-height: normal;
				text-transform: uppercase;
			}
		}
	}
	&-list-info {
		@media screen and (max-width: 991px) {
			display: none;
		}
		&-item {
			padding-top: 3.5px;
			padding-bottom: 3.5px;

			&:first-child {
				padding-right: 22px;
				border-right: 1px solid #241F1F;
				margin-right: 22px;
				@media screen and (max-width: 991px) {
					display: none;
				}
			}
			& .dropdown-menu {
				min-width: auto;
			}
			& > a {
				padding-top: 0;
				padding-bottom: 0;
				font-size: 14px;
				font-weight: 700;
				line-height: normal;
				text-transform: uppercase;
			}
		}
	}
	&-burger {
		border: none;
		&:focus {
			box-shadow: none;
		}
		&[aria-expanded="false"] .navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='41' height='42' viewBox='0 0 41 42' fill='none'%3e%3cpath d='M6.40625 13.1191H34.5938M6.40625 20.8066H34.5938M6.40625 28.4941H34.5938' stroke='%23199FDA' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3e%3c/svg%3e");
		}
		&[aria-expanded="true"] .navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3e%3cpath d='M11.667 11.667L28.3337 28.3337M11.667 28.3337L28.3337 11.667' stroke='%23B9B9BA' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
		}

	}
}
.dropdown-menu {
	--bs-dropdown-border-radius: 10px;
	--bs-dropdown-border-width: 0;
	--bs-dropdown-padding-y: 0;
	@media screen and (max-width: 991px) {
		--bs-dropdown-border-radius: 0;
		margin: 0 -12px;
	}
	& > li {
		&:first-child .dropdown-item{
			border-radius: 10px 10px 0 0;
			@media screen and (max-width: 991px) {
				border-radius: 0 0 0 0;
			}
		}
		&:last-child .dropdown-item{
			border-bottom: none;
			border-radius: 0 0 10px 10px;
			@media screen and (max-width: 991px) {
				border-radius: 0 0 0 0;
			}
		}
		& .dropdown-item {
			border-bottom: 0.5px solid rgba(25, 159, 218, 0.30);
			&:hover {
				background: #E3F1F9;
				color: #199FDA;
			}
			&:active {
				background: #E3F1F9;
				color: #199FDA;
			}
		}
	}
}
.header-lang-mob {
	display: none;
	align-items: baseline;
	justify-content: space-around;
	list-style-type: none;
	@media screen and (max-width: 991px) {
		display: flex;
	}
	& > li {
		& a {
			color: #241F1F;
			font-size: 20px;
			font-weight: 800;
			line-height: normal;
			text-decoration-line: none;
			text-transform: uppercase;
			&.active {
				color: #199FDA;
				text-decoration-line: underline;
			}
		}
	}
}