@import "_default";
@import "_header";

@import "./page-home/_page-home-first";
@import "./page-home/_page-home-second";
@import "./page-home/_page-home-block-slider";
@import "./page-home/_page-home-discount";
@import "./page-home/_page-home-about";
@import "./page-home/_page-home-consultation";
@import "./page-home/_page-home-news-block";
@import "./page-home/_page-home-seo-text";

.new {
	padding-top: 210px;
	@media screen and (max-width: 768px) {
		padding-top: 80px;
	}
}

.text-bg {
	position: relative;

	&:before {
		color: #8F8F8F;
		font-style: normal;
		font-weight: 900;
		line-height: 110%;
		text-transform: uppercase;
		opacity: 0.05;
		position: absolute;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
}

.our-news {
	&:before {
		content: 'Our News';
		font-size: 150px;
		top: -20px;
		right: -170px;
	}
}

.our-company {
	&:before {
		content: 'our company';
		font-size: 110px;
		top: 420px;
		left: -420px;
	}
}
.our-blog {
	&:before {
		content: 'Our blog';
		color: #8F8F8F;
		opacity: 0.05;
		font-family: 'Nunito Sans', sans-serif;
		font-size: 151px;
		font-style: normal;
		font-weight: 900;
		line-height: 110%;
		text-transform: uppercase;
		position: absolute;
		top: -50px;
		right: -115px;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
}
.bg-dot {
	position: relative;
	&:after {
		content: '';
		width: 360px;
		height: 222px;
		display: block;
		position: absolute;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='11' cy='11' r='3' fill='%23E3E3E3'/%3e%3c/svg%3e ");
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
}

@import "_footer";
@import "_modal";